<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About-us</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="About-us.css"/>
</head>
<body>
<nav class="navbar">
    <div class="class1">
        <div class="class2">
            <img src="Image.Index/Swachh_logo-removebg-preview.png" alt="Error">
        </div>
        <div class="tittle1">
            <h1><a href="index.html">SwachhtaConnect.org</a></h1>
        </div>
        <div class="bars">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="Scheme.html">Scheme</a></li>
                <li><a href="register.html">Complain</a></li>
                <li><a th:href="user.html">Users</a></li>
                <li><a href="#contact1">Contact</a></li>
                <li><a href="About-us.html">About Us</a></li>
            </ul>
        </div>
    </div>
</nav>


<section>
    <div class="hero">
        <div class="heading">
            <h1>About-us</h1>
        </div>
        <div class="container">
            <div class="hero-content">
                <h2>Welcome to our website</h2>
                <p>At <b><a th:href="@{/index.html}"> SwachhtaConnect.org</a></b>, we understand the struggles that come with unmanaged garbage dumps in neighborhoods across India. It is common to find large piles of waste in front of homes and public spaces, causing unbearable smells and health hazards for the residents. Often, people are unsure of how to get rid of these dumps or whom to approach for help.

                    Our platform is designed to solve this problem by offering an easy, accessible way for people to report these garbage dumps directly to us. We take care of the rest. Once a complaint is submitted, our team works swiftly to ensure that the garbage is removed, making the area clean and livable again.</p>
            </div>
            <div class="hero-image">
                <img src="Image.Index/efb93b19-39b5-4c9e-9b84-c0bd931345c6.jpg" alt="">
            </div>
        </div>
    </div>
    <div class="hero">
        <div class="container">
            <div class="hero-content">
                <h2>Why We Exist:</h2>
                <p>In many Indian communities, the presence of unmanaged garbage has become a persistent issue. While the Swachh Bharat Abhiyan has raised awareness about cleanliness, many people still face difficulties in getting waste removed from their surroundings. Whether it’s due to a lack of proper municipal services or simply not knowing who to contact, the garbage continues to pile up. This is where <b> <a th:href="index.html">SwachhtaConnect.org</a></b> steps in to fill the gap.</p>
            </div>
            <div class="hero-image">
                <img src="Image.Index/iqd704nnb2k31.webp" alt="">
            </div>
        </div>
    </div>
    <div class="hero">
        <div class="container">
            <div class="hero-content">
                <h2>Our Solution:</h2>
                <p><b>Easy Reporting:</b>
                    Residents facing issues with garbage piles in front of their homes or public areas can quickly report the problem through our website.


                    <b>Immediate Action:</b>
                    Once a report is filed, our team assesses the situation and deploys a cleanup crew to the specified location. We collaborate with local authorities and service providers to ensure fast and efficient waste removal.


                    <b>Cleaner Communities:</b>
                    After the garbage is removed, we make sure the area is clean and encourage ongoing waste management practices to prevent future buildup.


                    <b> How It Works: </b>

                    Submit a Complaint: Simply visit our website, fill out the complaint form with the details of the garbage dump location, and submit it.
                    Team Review: Our dedicated team reviews your submission and coordinates with local waste management services.
                    Clean Up: The garbage is promptly removed, and you receive a confirmation once the job is done.</p>
            </div>
            <div class="hero-image">
                <img src="Image.Index/01.png" alt="">
            </div>
        </div>
    </div>
    <div class="hero">
        <div class="container">
            <div class="hero-content">
                <h2>Our Mission:</h2>
                <p>To empower citizens by offering them an easy-to-use platform for reporting garbage problems and ensuring quick and effective solutions. We aim to build cleaner, healthier communities where waste management is no longer a challenge for the average citizen.</p>
            </div>
            <div class="hero-image">
                <img src="Image.Index/gov-track5_1.png" alt="">
            </div>
        </div>
    </div>
    <div class="hero">
        <div class="container">
            <div class="hero-content">
                <h2>Our Vision:</h2>
                <p>A cleaner India where every neighborhood is free from the health hazards and discomfort caused by unmanaged garbage. We believe that by connecting people with reliable waste removal services, we can achieve this goal and inspire a collective movement for cleanliness.</p>
            </div>
            <div class="hero-image">
                <img src="Image.Index/232323.jpg" alt="">
            </div>
        </div>
    </div>
</section>
<footer id="contact1">

    <div class="contact">
        <h3 class="contact-content">SBM Academy Toll Free: <a class="contact-number" href="18001800404">18001800404</a></h3>
        <div class="managed">
            <h3>Website Content Managed by <a class="mail" href=" mailto:SwachhBharatMission@gmail.com"><b>Swachh Bharat Mission</b></a></h3>
        </div>
    </div>

    <div class="footerContainer">
        <div class="SocialIcon">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-youtube"></i></a>
        </div>

        <div class="footerNav">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="About-us.html">About Us</a></li>
                <li><a href="Scheme.html">Scheme</a></li>
                <li><a th:href="user.html">Users</a></li>
                <li><a href="register.html">Complain</a></li>
                <li><a href="#contact1">Contact</a></li>
            </ul>
        </div>
        <div class="footerBottom">
            <p>Copyright &copy;2022; Designed by <span class="designer">Arish Azmi & Nuzhat Khan</span></p>
        </div>
    </div>
</footer>
</body>
</html>