<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About-Us</title>
    <!-- icon cdn -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" th:href="@{/Scheme.css}"/>
</head>
<body>
<nav class="navbar">
    <div class="class1">
        <div class="class2">
            <img src="Image.Index/Swachh_logo-removebg-preview.png" alt="Error">
        </div>
        <div class="tittle1">
            <h1><a href="index.html">SwachhtaConnect.org</a></h1>
        </div>
        <div class="bars">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="Scheme.html">Scheme</a></li>
                <li><a href="register.html">Complain</a></li>
                <li><a th:href="user.html">Users</a></li>
                <li><a href="#contact1">Contact</a></li>
                <li><a href="About-us.html">About Us</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="section">
    <div class="container clearfix">
        <div class="content-section">
            <div class="title">
                <h1>Government Initiatives Scheme</h1>
            </div>
            <div class="content">
                <h3>Pradhan Mantri Jan-Dhan Yojana (PMJDY)</h3>
                <p>Pradhan Mantri Jan-Dhan Yojana (PMJDY) is a financial inclusion initiative launched by the Indian government to provide affordable access to banking services, including savings accounts, credit, insurance, and pensions.</p>
                <div class="button">
                    <a href="https://pmjdy.gov.in/scheme">Read More</a>
                </div>
            </div>
        </div>
        <div class="image-section">
            <img src="Image.Index/PMJDY_Logo.png" alt="PMJDY Logo">
        </div>
    </div>
</div>
<div class="section">
    <div class="container clearfix">
        <div class="content-section">
            <div class="content">
                <h3>Pradhan Mantri Jan Arogya Yojana (PM-JAY)</h3>
                <p>Pradhan Mantri Jan Arogya Yojana (PM-JAY) is a government health insurance scheme aimed at providing free healthcare coverage to economically vulnerable families, ensuring access to quality medical services across India.</p>
                <div class="button">
                    <a href="https://web.umang.gov.in/landing/department/pradhan-mantri-jan-arogya-yojana.html">Read More</a>
                </div>
            </div>
        </div>
        <div class="image-section">
            <img src="Image.Index/Feature-pmjay.jpg" alt="PM-JAY Logo">
        </div>
    </div>
</div>
<div class="section">
    <div class="container clearfix">
        <div class="content-section">
            <div class="content">
                <h3>Pradhan Mantri Garib Kalyan Anna Yojana</h3>
                <p>Pradhan Mantri Garib Kalyan Anna Yojana is a government initiative that provides free food grains to low-income families in India, ensuring food security for vulnerable populations during times of crisis like the COVID-19 pandemic.</p>
                <div class="button">
                    <a href="https://www.indiabudget.gov.in/pmgky/">Read More</a>
                </div>
            </div>
        </div>
        <div class="image-section">
            <img src="Image.Index/pardhanmantri_img.jpg" alt="PMGKAY Logo">
        </div>
    </div>
</div>
<div class="section">
    <div class="container clearfix">
        <div class="content-section">
            <div class="content">
                <h3>PM Kisan Samman Nidhi</h3>
                <p>PM Kisan Samman Nidhi is a government scheme that provides financial assistance to small and marginal farmers in India. Eligible farmers receive direct income support of ₹6,000 annually, in three installments.</p>
                <div class="button">
                    <a href="https://pmkisan.gov.in/">Read More</a>
                </div>
            </div>
        </div>
        <div class="image-section">
            <img src="Image.Index/unnamed.jpg" alt="PM Kisan Logo">
        </div>
    </div>
</div>
<div class="section">
    <div class="container clearfix">
        <div class="content-section">
            <div class="content">
                <h3>Beti Bachao Beti Padhao</h3>
                <p>Beti Bachao Beti Padhao is a government initiative aimed at promoting gender equality by preventing female foeticide, ensuring the survival, protection, and education of the girl child, and empowering women across India.</p>
                <div class="button">
                    <a href="https://www.pmindia.gov.in/hi/government_tr_rec/%E0%A4%AC%E0%A5%87%E0%A4%9F%E0%A5%80-%E0%A4%AC%E0%A4%9A%E0%A4%BE%E0%A4%93-%E0%A4%AC%E0%A5%87%E0%A4%9F%E0%A5%80-%E0%A4%AA%E0%A4%A2%E0%A4%BC%E0%A4%BE%E0%A4%93-%E0%A4%AC%E0%A4%BE%E0%A4%B2/">Read More</a>
                </div>
            </div>
        </div>
        <div class="image-section">
            <img src="Image.Index/4c144fd0aef196bace41dac9c001d8a4.jpg" alt="Beti Bachao Logo">
        </div>
    </div>
</div>
<div class="section">
    <div class="container clearfix">
        <div class="content-section">
            <div class="content">
                <h3>Pulse Polio</h3>
                <p>Pulse Polio is a government-led immunization campaign in India aimed at eradicating polio by providing free oral polio vaccines to children under the age of five, ensuring mass protection and prevention.</p>
                <div class="button">
                    <a href="https://hfw.delhi.gov.in/doit-content/pulse-polio-immunization-program">Read More</a>
                </div>
            </div>
        </div>
        <div class="image-section">
            <img src="Image.Index/1_a2fYT7O6ryDkICkm1NUPrg.webp" alt="Pulse Polio Logo">
        </div>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>
<footer id="contact1">
    <div class="contact">
        <h3 class="contact-content">SBM Academy Toll Free: <a class="contact-number" href="18001800404">18001800404</a></h3>
        <div class="managed">
            <h3>Website Content Managed by <a class="mail" href=" mailto:SwachhBharatMission@gmail.com"><b>Swachh Bharat Mission</b></a></h3>
        </div>
    </div>
    <div class="footerContainer">
        <div class="SocialIcon">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-youtube"></i></a>
        </div>
        <div class="footerNav">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="About-us.html">About Us</a></li>
                <li><a href="Scheme.html">Scheme</a></li>
                <li><a th:href="user.html">Users</a></li>
                <li><a href="register.html">Complain</a></li>
                <li><a href="#Contact1">Contact</a></li>
            </ul>
        </div>
        <div class="footerBottom">
            <p>Copyright &copy;2022; Designed by <span class="designer">Arish Azmi & Nuzhat Khan</span></p>
        </div>
    </div>
</footer>
</body>
</html>
